<div class="card text-center">
  <div class="card-header">
    Perhitungan.id
  </div>
  <div class="card-body">
    <h5 class="card-title">Selamat Datang di Perhitungan.id</h5>
    <p class="card-text">Untuk Bisa menggunakan perhitungan silahkan Log iN terlebih dahulu jika belum punya akaun lakukan registrasi.</p>
     <%= link_to 'LogIn', new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>